<div class="edit">
  <h2>Edit Artist Here</h2>
  <ul>
    <%= form_for @artist do |f| %> <%= f.label :name %><br />
    <%= f.text_field :name, :required => true %><br />
    <%= f.label :age %><br />
    <%= f.number_field :age, :required => true %>
    <br /><br />
    <%= f.label :experience_level %> <%= f.select :experience_level, (1..10)
    %><br /><br />
    <%= f. submit "Update Profile" %> <% end %>
  </ul>
</div>
