<h2>Create a new Painting</h2>
<%= form_for @painting do |f| %>
<%= f.label :name %>
<%= f.text_field :name, :required => true %><br>
<%= f.label :price %>
<%= f.number_field :price, :required => true %> <br>
<%= f.label :artist %>
<%= f.collection_select :artist_id,Artist.all, :id, :name%><br>
<%= f.label :gallary %>
<%= f.collection_select :gallery_id,Gallery.all, :id, :name%>
<%= f. submit %>
<% end %>
