<h2>Info page</h2>
<h2>Painting Name: <%=@painting.name%></h2><br>
<h2>Price: <%="$#{@painting.price}"%></h2><br>
<h2>Artist: <%=@painting.artist.name%></h2><br>
<h2>Gallary: <%=@painting.gallery.name%></h2><br>
<%= button_to "Sell Painting", method: :delete %><br>
